.dynamic_page_text_container {
   position: relative;
}

.background_image {
   position: absolute;
   top: 3.6rem;
   left: 0;
   width: 100vw;
   max-width: 100%;
   height: 15rem;
   background-image: url('../../assets/intro_background_img.png');
   background-size: cover;
   opacity: 0.9;
}

.text_content {
   position: relative;
   width: 100vw;
   max-width: 25rem;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   /* align-items: center; */
   /* justify-content: center;
   justify-items: center; */
   text-align: center;
   z-index: 1;
   color: #FFF;
}